@using PetGroomingApp.Web.ViewModels.Groomer
@model IEnumerable<AllGroomersIndexViewModel>

@{
    ViewData["Title"] = "Our Groomers";
}

<partial name="_PageTitle" />

<!-- Team Section  -->
<div class="team_area">
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-lg-6 col-md-10">
                <div class="section_title text-center mb-95">
                    <p>Our team includes top grooming specialists. Meet them and you can find your pet's new best friend!'</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            @foreach (var groomer in Model)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="single_team">
                        <div class="thumb">
                            <img src="~/@groomer.ImageUrl" alt="@groomer.Name">
                        </div>
                        <div class="member_name text-center">
                            <div class="mamber_inner">
                                <h4>@groomer.Name</h4>
                                <p>@groomer.JobTitle</p>
                                <a asp-controller="Groomer" asp-action="Details" asp-route-id="@groomer.Id" class="btn btn-outline-primary rounded-pill px-4 fw-semibold">More...</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div> 
