@using Microsoft.AspNetCore.Identity
@using PetGroomingApp.Data.Models

@inject SignInManager<ApplicationUser> SignInManager

<header>
    <div class="header-area ">
        <div class="header-top_area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-8">
                        <div class="short_contact_list">
                            <ul>
                                <li><a href="#"><i class="fa fa-phone"></i> +359 88 123 4567</a></li>
                                <li><a href="#"><i class="fa fa-calendar"></i> Mon - Sat  10:00 - 18:00</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-4 ">
                        <div class="social_media_links">
                            <a href="https://www.facebook.com/">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="https://www.pinterest.com/">
                                <i class="fa fa-pinterest"></i>
                            </a>
                            <a href="https://www.instagram.com/">
                                <i class="fa fa-instagram"></i>
                            </a>
                            <a href="https://www.linkedin.com/">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="sticky-header" class="main-header-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-3">
                        <div class="logo">
                            <a asp-area="" asp-controller="Home" asp-action="Index">
                                <img src="~/img/logo.png" alt="Logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9">
                        <div class="main-menu  d-none d-lg-block">
                            <nav>
                                <ul id="navigation" class="navigation-two-rows">
                                    <!-- First Row -->
                                    <li><a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i> Home</a></li>
                                    <li><a asp-area="" asp-controller="Groomer" asp-action="Index"><i class="fa fa-user-tie"></i> Our Groomers</a></li>
                                    <li>
                                        <a asp-area="" asp-controller="Service" asp-action="Index"><i class="fa fa-scissors"></i> Services <i class="ti-angle-down"></i></a>
                                        <ul class="submenu">
                                            @await Component.InvokeAsync("ServicesMenu")
                                        </ul>
                                    </li>
                                    <li><a asp-area="" asp-controller="Home" asp-action="Contact"><i class="fa fa-envelope"></i> Contact</a></li>
                                    
                                    <li class="nav-break"></li>
                                    <!-- Second Row -->
                                    @if (SignInManager.IsSignedIn(User))
                                    {
                                        <li>
                                            <a href="javascript:void(0);"><i class="fa fa-star"></i> My Salon <i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a asp-area="" asp-controller="Pet" asp-action="Index"><i class="fa fa-paw"></i> My Pets</a></li>
                                                <li><a asp-area="" asp-controller="Appointment" asp-action="Index"><i class="fa fa-calendar"></i> Appointments</a></li>
                                            </ul>
                                        </li>
                                    }
                                    <partial name="_LoginPartial" />
                                </ul>                                
                            </nav>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none">
                            <button class="mobile-menu-toggle" type="button" aria-label="Toggle navigation">
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mobile Menu Overlay -->
        <div class="mobile-menu-overlay"></div>
    </div>    
</header>

